@font-face {
    src: url('../../fonts/Roslindale-DisplayRegular-Testing.woff2') format("woff2"),
         url('../../fonts/Roslindale-DisplayRegular-Testing.woff') format("woff");
    font-family: "Roslindale";
    font-style: normal;
    font-weight: light;
  }

  @font-face {
    font-family: 'Apercu Pro';
    src: local('Apercu Pro Regular'), local('Apercu-Pro-Regular'),
        url('ApercuPro-Regular.woff2') format('woff2'),
        url('ApercuPro-Regular.woff') format('woff'),
        url('ApercuPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-[#151515] font-roslindale;
}

